body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
}

#canvas1{
    border:3px solid white;
    position:absolute;
    top:50%;
    left:50%;
    width:200px;
    height:300px;
    transform: translate(-50%,-50%);
}